body {
  background-color: #202020;
  color: #FFFFFF;
  }

.escolha {
  padding-bottom: 10px;
}

.escolha.nova {
  display: none;
}

.escolha.nova.ativo {
  display: block;
}

.span_erro_campo_vazio {
  display: none;
}

.span_erro_campo_vazio.ativo {
  display: block;
}

.span_aviso_informar_termo {
  display: none;
}

.span_aviso_informar_termo.ativo {
  display: block;
}